<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.sample.graphql.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.coding.sample.graphql.entity.Article">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="author_id" jdbcType="BIGINT" property="authorId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, title, author_id, content
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from article
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from article
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.coding.sample.graphql.entity.Article">
        <!--@mbg.generated-->
        insert into article (id, title, author_id,
        content)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{authorId,jdbcType=BIGINT},
        #{content,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.coding.sample.graphql.entity.Article">
        <!--@mbg.generated-->
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="authorId != null">
                author_id,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.coding.sample.graphql.entity.Article">
        <!--@mbg.generated-->
        update article
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.coding.sample.graphql.entity.Article">
        <!--@mbg.generated-->
        update article
        set title = #{title,jdbcType=VARCHAR},
        author_id = #{authorId,jdbcType=BIGINT},
        content = #{content,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>